inputs/
output/
proofs/
temp/
.venv/

*.sym
*.r1cs

site/
target/
circom/target/
circom_algebra/target/
compiler/target/
constraint_generation/target/
parser/target/
program_structure/target/
type_analysis/target/
.idea/
.vscode/
.DS_Store

*.zkey
*.ptau
*.sym
*.r1cs

circom/reward_opt.r1cs
circom/reward_opt.sym

*.pyc

doom_data/sample_*

*.json
*.txt
*.bin
*.csv
vendor/
*.zip

doom_data/