[workspace]
members = [
    "rust/jstprove_circuits",
]

resolver = "2"
exclude = ["ExpanderCompilerCollection"]

[workspace.dependencies]
serde_json = "1.0"
peakmem-alloc = "0.3.0"
csv = "1.1"
ark-std = "0.4.0"
rand = "0.8.5"
chrono = "0.4"
clap = { version = "4.1", features = ["derive"] }
ethnum = "1.5.0"
tiny-keccak = { version = "2.0", features = ["keccak"] }
halo2curves = { git = "https://github.com/PolyhedraZK/halo2curves", default-features = false, features = ["bits"] }

# All deps from inference-labs-inc
arith = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
expander_circuit = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0", package = "circuit" }
gkr = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
gf2 = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
expander_binary = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0", package = "bin" }
mersenne31 = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
expander_transcript = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0", package = "transcript" }
crosslayer_prototype = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
babybear = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
gkr_engine = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0", package = "gkr_engine" }
gkr_hashers = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
goldilocks = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }
serdes = { git = "https://github.com/inference-labs-inc/Expander", tag = "v0.2.0" }

# ECC from inference-labs-inc
expander_compiler = { git = "https://github.com/inference-labs-inc/ecc", tag = "v0.2.0" }
circuit-std-rs = { git = "https://github.com/inference-labs-inc/ecc", tag = "v0.2.0" }

mpi = "0.8.0"
thiserror = "2.0.15"
strum = "0.27.2"
strum_macros = "0.27.2"
once_cell = "1.21.3"
openssl = { version = "0.10", features = ["vendored"] }
ndarray = { version = "0.16.1", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
zstd = "0.13.3"
