name: Unit, Integration Python Tests

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  python-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --group test

      - name: Install OMPI
        run: |
          sudo apt-get update && sudo apt-get install -y \
            libopenmpi-dev \
            pkg-config \
            libclang-dev \
            clang \
            openmpi-bin

      - name: Run Unit Tests
        run: |
          mkdir -p report
          uv run pytest --unit --html=report/unit_tests.html

      - name: Run Integration Tests
        run: |
          mkdir -p report
          uv run pytest --integration --html=report/integration_tests.html

      - name: Upload Pytest HTML Report
        uses: actions/upload-artifact@v6
        with:
          name: pytest-html-report-python-${{ matrix.python-version }}
          path: report
